# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# Исключения для Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Логи
*.log

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### Eclipse ###
.classpath
.project
.settings/
bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Файлы данных
*.db
*.sqlite

# Минио (если есть локальные тестовые данные)
minio-data/